{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}




<p>Welcome to the forum!</p>
<p>Here you can discuss anything you want with other users. Please be respectful and follow the rules, once they are written.</p>

<br>

<h3> All threads</h3>
<a href="/new">Create a new thread</a>

{% for thread in threads %}
    <div class="box">
        <h3><a href="/thread/{{ thread.id }}">{{ thread.title }}</a></h3>
        <p>{{ thread.content }}</p>
        <br>
        <p>Created by <b>{{ thread.username }} </b> on {{ thread.created_at }}</p>
        <p> #{{thread.id}} | Likes: {{thread.likes}} | Replies: 0 </p>
    </div>
    
{% endfor %}

{% endblock %}


