{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}




<p>Welcome to the forum!</p>
<p>Here you can share ASCII art (preferably cats) with other users. Please be respectful to others.</p>
<br>

<h3> All threads</h3>
<a href="/new">Create a new thread</a>

{% for thread in threads %}
    <div class="box">
        <h3><a href="/thread/{{ thread.id }}">{{ thread.title }}</a></h3>
        <p>{{ thread.content }}</p>
        <br>
        <p>Created by <b>{{ thread.username }} </b>on {{ thread.created_at }}
 #{{thread.id}} | Likes: {{thread.likes}} | 
    </div>
{% endfor %}

<div class="box">
    <h3>Tester cat</h3>
    <p>
          ,-.       _,---._ __  / \
        /  )    .-'       `./ /   \
       (  (   ,'            `/    /|
        \  `-"             \'\   / |
         `.              ,  \ \ /  |
          /`.          ,'-`----Y   |
         (            ;        |   '
         |  ,-.    ,-'         |  /
         |  | (   |        hjw | /
         )  |  \  `.___________|/
         `--'   `--'</p>
    <br>
    <p>Created by <b> kiisu </b> on 2023-02-06 10:36:00
#0 | Likes: 100 | Replies: 0 </p>
</div>

{% endblock %}


