{% extends "layout_nosession.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h3>Log in to access the forum!</h3>


<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Login">
</form>

<br>

<h3> Want to create an account? Submit info below:</h3>


<form action="/create" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Create">
</form>


{% endblock %}
