{% if session.username %}
<p>Logged in as {{ session.username }}</p>
<a href="/logout">Log out</a>
{% else %}

<h2>Log in to access the forum!</h2>

<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Login">
</form>

<h2> Want to create an account? Submit info below:</h2>

<form action="/create" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Create">
</form>



{% endif %}
