<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



<title>JVS - Forum - {% block title %}{% endblock %}</title>



<div class="container">

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Home</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">X</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Y</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Z</a>
          </li>
      </ul>
    </nav>
<br>

{% if session.username %}
<h1>JVS - Forum</h1>


<hr>
{% block content %}{% endblock %}
<hr>


<p>Logged in as {{ session.username }}</p>
<a href="/logout">Log out</a>


{% else %}

<p> Your session seems to be expired, please click below to log in. </p>
<a href="/">Log in</a>

{% endif %}
</div>
