{% extends "layout.html" %}

{% block title %}New{% endblock %}

{% block content %}

<form action="/send" method="post" onsubmit="return check(this)">
    Category: 
    <select id="category" name="category">
        <option value="1">Cats</option>
        <option value="2">Dogs</option>
        <option value="3">Other</option>
    </select>
    <br>
    Title: <br>
    <textarea name="title" rows="1" cols="20"></textarea>
    <br>
    Content: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <input type="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
    function check(form) {
        if (form.title.value.length > 100) {
            alert("The title is too long");
            return false;
        }
        if (form.content.value.length > 10000) {
            alert("Content of the post is too long");
            return false;
        }
        return true;
    }
</script>

<a href="/home">Back to homepage</a>

{% endblock %}