{% extends "layout.html" %}

{% block title %}View thread{% endblock %}

{% block content %}

<div class="box">
    <h3>{{ thread_info.title }}</a></h3>
    <p>{{ thread_info.content }}</p>
    <br>
    <br>
    <p>Created by <b>{{ thread_info.username }} </b> on {{ thread_info.created_at }}</p>

    <p> #{{thread_info.id}} | Replies: 0 | Likes: {{thread_info.likes}} | <button type="button">Like</button></p>
</div>

<br>
<h3>Replies</h3>

{% for reply in thread_replies %}
    <div class="replybox">
        <p>{{ reply.content }}</p>
        <br>
        <br>
        <br>
        <button type="button">Like</button></p>
        <p><b>{{ reply.username }} </b> on {{ reply.sent_at }}
    </div>
{% endfor %}

<h4>Add reply:</h4>

<form action="/send_reply" method="post" onsubmit="return check(this)">
    <textarea name="content" rows="3" cols="40"></textarea>
    <input type="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="hidden" name="thread_id" value="{{ thread_info.id }}">
</form>

<script>
    function check(form) {
        if (form.content.value.length > 10000) {
            alert("Content of the post is too long");
            return false;
        }
        return true;
    }
</script>

<p>Thread created by <b>{{ thread_info.username }} </b> on {{ thread_info.created_at }}</p>



<a href="/home">Back to homepage</a>

{% endblock %}