{% extends "layout.html" %}

{% block title %}View thread{% endblock %}

{% block content %}

<div class="box">
    <h3>{{ thread_info.title }}</a></h3>
    <p>{{ thread_info.content }}</p>
    <br>
    <br>
    <p>Created by <b>{{ thread_info.username }} </b> on {{ thread_info.created_at }}</p>

    <p> #{{thread_info.id}} | Replies: 0 | Likes: {{thread_info.likes}} | <button type="button">Like</button></p>
</div>

<p> </p>
<br>
<h3>Replies</h3>

<div class="replybox">
    <p>Placeholder reply to the above thread</p>
</div>

<div>
    <p> Add reply</p>
</div>

<p>Created by <b>{{ thread_info.username }} </b> on {{ thread_info.created_at }}</p>



<a href="/home">Back to homepage</a>

{% endblock %}